@(trainee: Trainee)

@main("User Page") {
    <table width="30%">
     <tr>
      <td><img src="@routes.Assets.at("images/uet.png")"/></td>
      <td><h2>Trainee Portal</h2></td>
     </tr>
     <tr></tr>
    </table>
    <h4>Welcome @trainee.name</h4>
    <h2></h2>
    
    <table class="table table-striped" style="width:25%">
     <tr>
      <td><a href="@routes.UserPage.profile(trainee.email)">MY PROFILE</a></td>
     </tr>
     <tr>
      <td><a href="@routes.UserPage.update(trainee.email)">UPDATE PROFILE</a></td>
     </tr>
    </table>
}
