@(trainee: Trainee)

@main("Trainee Profile") {
  <h1>Profile</h1>
  <h2></h2>
  <table class="table table-striped" style="width:30%">
   <tr>
    <th>Name</th>
    <td>@trainee.name</td>
   </tr>
   
   <tr>
    <th>Birthday</th>
    <td>@trainee.birthday</td>
   </tr>
   
   <tr>
    <th>Address</th>
    <td>@trainee.address</td>
   </tr>
   
   <tr>
    <th>Phone Number</th>
    <td>@trainee.phoneNumber</td>
   </tr>
   
   <tr>
    <th>Branch</th>
    <td>@trainee.branch</td>
   </tr>
   
   <tr>
    <th>Course</th>
    <td>@trainee.course</td>
   </tr>
   
   <tr>
    <th>Email</th>
    <td>@trainee.email</td>
   </tr>
  </table>
  <a class="btn" href="@routes.UserPage.update(trainee.email)">Update</a>
  <a class="btn" href="@routes.UserPage.portal(trainee.email)">Cancel</a>
}
