@(traineeForm: Form[Trainee])

@import helper._
@import helper.twitterBootstrap._

@main("Trainee Form") {
  <h1>Trainee Form</h1>
  @form(CSRF(routes.UserPage.save())) {
        <input type="hidden" value="@traineeForm("id").valueOr("")" name="id"/>
    <fieldset>
       <legend>Trainee @traineeForm("name").value</legend>
	   <table width="100%">
        <tr>
         <td>@helper.inputText(traineeForm("name"), '_label -> "Name", 'readonly -> "readonly")</td>
         <td>@helper.inputDate(traineeForm("birthday"), '_label -> "Birthday", 'readonly -> "readonly")</td>
         <td>@helper.inputText(traineeForm("address"), '_label -> "Address")</td>
         <td>@helper.inputText(traineeForm("phoneNumber"), '_label -> "Phone Number")</td>
        </tr>
        <tr>
         <td>@helper.inputText(traineeForm("branch"), '_label -> "Branch", 'readonly -> "readonly")</td>
         <td>@helper.inputText(traineeForm("course"), '_label -> "Course", 'readonly -> "readonly")</td>
         <td>@helper.inputText(traineeForm("email"), '_label -> "Email")</td>
         <td>@helper.inputText(traineeForm("password"), '_label -> "Password")</td>
        </tr>
       </table>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.UserPage.portal(traineeForm("email").value)">Cancel</a>
  }
}
