#wrapper{
	margin: 0;
	padding: 0;
}

	#wrapper_header #menu_ngang ul{
				list-style: none;
				  height: 45px;
				  margin: 0px;
				  padding: 0px;
	}
			
	#wrapper_header #menu_ngang ul li{
		float: left;
		width: 50px;
		height: 45px;
		font-size: 30px;
		padding-top: 0px;
		padding-left: 0px;
		text-align: center;
		line-height: 7px;
		border: 1px solid #718694;
		background: #46CF48;
	}
			
	#wrapper_header #menu_ngang a{
		color: #FFFFFF;
		width: 50px;
		height: 45px;
		display:block;
	}
			
	#wrapper_header #menu_ngang a:hover{
		background-color: #3399FF;
		border: 1px solid #336699;
	}
	
.container #menu_doc {
	width: 210px;
	height: 480px;
	margin-top: 30px;
	float: left;
}

.container #content{
	width: 920px;
	float: right;
	height: 480px;
	margin-top:30px;
	border: 1px solid #C2B9B9;
	box-shadow: 0px 0px 5px 5px #DDDDDD;
}

.container #menu_doc ul{
	list-style: none;
	margin:0;
	padding: 0;
}

.container #menu_doc ul li{
	width: 215px;
	height: 40px;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	background: #11BA19;
	
	
}

.container #menu_doc ul li:hover{
	background: #8C988D;
	  transition: all 0.5s;
}

.container #menu_doc ul  li a{
	padding-top: 9px;
	padding-bottom: 7px;
	padding-left: 32px;
	text-decoration:none;
	color: #ffffff;
	display: block;
	font-weight: bold;
	transition: all 1s;
}

.container #menu_doc ul li a:hover{
	padding-top: 10px;
	padding-left:50px;
	color: #000000;
	transition: all 1s;
}

.container #menu_doc #home{
	width: 215px;
	height: 45px;
	background: #229B28;
	border-left: 1px solid #1682ba;
	border-right: 1px solid #1682ba;
	border-top: 1px solid #1682ba;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
	transition: all 1s;
}

.container #menu_doc #home a{
	display:block;
	font-weight: bold;
	font-size:20px;
	color: #ffffff;
	text-decoration:none;
		padding-top:7px;
	padding-left: 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	transition: all 1s;
}

.container #menu_doc #home:hover{
	background: #C6DBED; 
	transition: all 1s;
	color: #000000;
}

/********************************************************************/

.container #content #home1{
	width: 920px;
	height: 240px;
	margin-top: 93px;
	padding: 0;
	
}

.container #content #home2{
	width: 920px;
	height: 240px;
	margin: 0;
	padding: 0;
}

.container #content #home1 #anh1{
	margin-left: 70px;
	margin-top: 20px;
	float: left;
	width: 161px;
	height: 180px;
	background-color: #1D9323;
	  box-shadow: 0 0 97px 16px #56D53B inset;
	  border: 1px solid #97C791;
	//box-shadow: 2px 2px 5px #202421;
	position: relative;
	overflow: hidden;
}

.container #content #home1 #anh1:hover{
	opacity: 0.4;
	border: 2px solid #000000;
}

.container #content #home1 #anh2{
	margin-left: 60px;
	margin-top: 20px;
	float: left;
	width: 161px;
	height: 180px;
	background-color: #1D9323;
	  box-shadow: 0 0 97px 16px #56D53B inset;
	  border: 1px solid #97C791;
	//box-shadow: 2px 2px 5px #202421;
	position: relative;
	overflow: hidden;
}

.container #content #home1 #anh2:hover{
	opacity: 0.4;
	border: 2px solid #000000;
}

.container #content #home1 #anh3{
	margin-left: 60px;
	margin-top: 20px;
	float: left;
	width: 161px;
	height: 180px;
	background-color: #1D9323;
	  box-shadow: 0 0 97px 16px #56D53B inset;
	  border: 1px solid #97C791;
	//box-shadow: 2px 2px 5px #202421;
	position: relative;
	overflow: hidden;
}

.container #content #home1 #anh3:hover{
	opacity: 0.4;
	border: 2px solid #000000;
}

.container #content #home1 #anh4{
	margin-left: 60px;
	margin-top: 20px;
	float: left;
	width: 161px;
	height: 180px;
	background-color: #1D9323;
	  box-shadow: 0 0 97px 16px #56D53B inset;
	  border: 1px solid #97C791;
	//box-shadow: 2px 2px 5px #202421;
	position: relative;
	overflow: hidden;
}

.container #content #home1 #anh4:hover{
	opacity: 0.4;
	border: 2px solid #000000;
}


.container #content #home1 #anh1 #con1{
	top:180px;
	margin-left: 0px;
	width: 160px;
	height: 50px;
	
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	text-align: center;
	padding: 15px 10px;
	/*transform: translateY(180px);*/
	font-weight: bold;
	color: #FFFFFF;
	display:hidden;
}


.container #content #home1 #anh1 #con1{
	opacity: 1;
	top: 128px;
	display: block;
	position: absolute;
	/*transform: translateY(93px);*/
}

.container #content #home1 #anh2 #con2{
	top:180px;
	margin-left: 0px;
	width: 160px;
	height: 50px;
	
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	text-align: center;
	padding: 15px 10px;
	/*transform: translateY(180px);*/
	font-weight: bold;
	color: #FFFFFF;
}

.container #content #home1 #anh2 #con2{
	opacity: 1;
	top: 128px;
	display: block;
	position: absolute;
	/*transform: translateY(93px);*/
}

.container #content #home1 #anh3 #con3{
	top:180px;
	margin-left: 0px;
	width: 160px;
	height: 50px;
	
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	text-align: center;
	padding: 15px 10px;
	/*transform: translateY(180px);*/
	font-weight: bold;
	color: #FFFFFF;
}

.container #content #home1 #anh3 #con3{
	opacity: 1;
	top: 128px;
	display: block;
	position: absolute;
	/*transform: translateY(93px);*/
}

.container #content #home1 #anh4 #con4{
	top:180px;
	margin-left: 0px;
	width: 160px;
	height: 50px;
	
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	text-align: center;
	padding: 15px 10px;
	/*transform: translateY(180px);*/
	font-weight: bold;
	color: #FFFFFF;
}

.container #content #home1 #anh4 #con4{
	opacity: 1;
	top: 128px;
	display: block;
	position: absolute;
	/*transform: translateY(93px);*/
}


/********************************************************************/





.container #content #form1{
	padding-left: 80px;
	width:410px;
	height: 325px;
	float: left;
}

.container #content #form2{
	padding-left: 80px;
	width:410px;
	height: 325px;
	float: right;
	margin-right: 80px;
}


/********************************************************************/


