#wrapper {
	min-width: 1349px;
	min-height: 664px;
	margin: 0px;
	background-color: rgba(242, 242, 242, 0.58);
}

#header {

	display: block;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	min-width: 1349px;
	color: #10AEDD;
	font-size: 27pt;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 5px;
	//line-height: 2.5em;
	
	background-color: #ffffff;
}

#middle{
	margin:0;
	min-width: 1349px;
	height: 637px;
	background-color: #FFFFFF;
}

#footer{
	min-width: 1349px;
	height:30px;
	padding-top: 20px;
}

#menu{
	min-width: 1349px;
	height: 50px;
	background: #00BFFF;
	  //box-shadow: 0 0 3px 3px #A3A0A0;
	
}

#content{
	min-width: 1349px;
	height: 560px;
	margin: 0;
}

#catalog{
	width: 220px;
	height: auto;
	background-color: #DDDDDD;
	float: left;
	margin-left: 90px;
	margin-top: 20px;
	}

#main{
	width: 937px;
	height: 561px;
	background-color: #FFFFFF;
	float: right;
	margin-right: 70px;
	margin-top: 20px;
	padding-left: 2px;
	box-shadow: 0 0 5px 2px #B2BDBD;
	position: relative;
	color: #10AEDD;
}



#catalog ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#catalog ul a{
	text-decoration: none;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #ffffff;
}

#catalog ul li{
	line-height: 20px;
	height : 35px;
	width: 220px;
	border-bottom: 1px solid #969ED2;
	background: #3BC7F0;;
	margin-top: 1px;
	padding-top: 7px;
	padding-left: 30px;
}

#catalog ul li:hover{
	background-color: #838B8B;
	padding-top:8px;
	padding-left: 40px;
	transition: all 0.5s;
	box-shadow: 0 0 20px 3px #FFFFFF inset;
}


/******************************************************/
#main #confirmPassword {
	display: none;
	position: absolute;
	width: 300px;
	height: 100px;
	background: #CCCCCC;
	top: 200px;
	left: 200px;
}







