*{
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 1366px;
	height: 664px;
}

#header {
	width: 1349px;
	height: 100px;
	
}

#middle {
	width: 1366px;
	height: 564px;
	
}

#middle #menu {
	width: 1366px;
	height: 40px;
	background: #52B845;
}

#middle #content{
	width: 1366px;
	height: 524px;
	
}

#middle #content #catalog{
	width: 300px;
	height:524px;
	
	float: left;
	padding-left: 60px;
	padding-top: 30px;
}

#middle #content #noidung{
	width: 1062px;
	height:524px;
	
	float: right;
}

#middle #content #catalog ul{
	width: 236px;
	height:106px;
	background: #97C791;
	list-style: none;
}

#middle #content #catalog ul li{
	width: 236px;
	height: 35px;
	background-color: #52B845;
	border-bottom: 1px solid #FFFFFF;
	padding-top: 7px;
	padding-left: 20px;
}

#middle #content #catalog ul a{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	width: 236px;
	height: 35px;
	font-weight: bold;
}

#middle #content #catalog ul a:hover li{
	background-color: #51FF55;
	transition: 0.5s all;
	
}

#middle #content #noidung .noidung{
	box-shadow: 0px 0px 5px 5px #DDDDDD;
	margin: 30px 60px;
	width: 937px;
	height: 454px;
}
#middle #content #noidung .noidung .tieude{
	width: 937px;
	height: 50px;
	text-align: center;
	color: #52B845;
	font-weight: 800;
	padding-top: 17px;
	  font-size: 20px;
}

#middle #content #noidung .noidung .trai{
	margin: 50px 50px;
	float: left;
	width: 355px;
	height: 324px;
	padding-left: 140px;
}

#middle #content #noidung .noidung .phai{
	margin: 50px 50px;
	float: right;
	width: 355px;
	height: 324px;
}

#middle #content #noidung .noidung .trai ul{
	list-style: none;
	width: 355px;
	height: 354px;
}

#middle #content #noidung .noidung .phai ul{
	list-style: none;
	width: 355px;
	height: 354px;
}

#middle #content #noidung .noidung .trai ul li{
	width: 355px;
	height: 50px;
	font-size: 18px;
	color: #52B845;
}

#middle #content #noidung .noidung .phai ul li{
	width: 355px;
	height: 50px;
	font-size: 18px;
	color: #52B845;
}

