
a{
	color: #007F49;
}


#wrapper {
	min-width: 1349px;
	min-height: 620px;
	margin: 0px;
	background-color: rgba(242, 242, 242, 0.58);
}

#wrapper hr {
  margin-top: -9px;
  margin-bottom: 0px;
  border: 0;
  border-top: 3px solid #00A803;
}

#header {

	display: block;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	min-width: 1349px;
	color: #007F49;
	font-size: 30pt;
	font-weight: bold;
	margin: 0 0 10px 0;
	line-height: 2.5em;

	background-color: #ffffff;
}

#middle{

	min-width: 1349px;
	height: 500px;
	background-color: rgba(242, 242, 242, 0.58);
}

#footer{
	min-width: 1349px;
	height:30px;
	padding-top: 5px;
}

#content{
	min-width: 1349px;
	height: 350px;
	margin-top: 30px;

}

#all4u{
	min-width: 1349px;
	margin-top: 30px;
	height: 120px;
	background-color: #ffffff;
	text-align: center;
	font-size: 54px;
	padding-top: 20px;
	color: #007F49;
}

#left{
	margin-left: 30px;
	width: 830px;
	height: 350px;
	background-color: #ffffff;
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
}

#login{
	width: 400px;
	height: 350px;
	background-color: #ffffff;
	float: right;
	margin-right: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
}

.alert {
	padding-left: 30px;
  padding: 14px;
  margin-top: -17px;
  border: 1px solid transparent;
  border-radius: 4px;
}

a{
	color: #00A855;
}