@(currentPage: com.avaje.ebean.Page[Teacher])
@main_hocvu("Danh Sách Giáo Viên"){
	
	<div class=container style="width: 820px;">
		@if(flash.containsKey("success")){
			  <div class="alert alert-success">
				@flash.get("success")
			  </div>
			}
			@if(flash.containsKey("error")){
			  <div class="alert alert-error">
				@flash.get("error")
			  </div>
			}
		<h2 style="text-align: center; color: #20A836;font-weight: bold;text-shadow: 1px 1px 4px; margin-bottom: 20px;">Danh Sách Giáo Viên</h2>
		
		<script>
			var doimau= document.getElementById("giaovien");
			doimau.style.background = "#8C988D";
			doimau.style.color = "#00A855";
			function del(urlToDelete){
				var confirmBox;
				confirmBox = confirm("Bạn muốn xóa giáo viên này khỏi danh sách!");
				if(confirmBox== true){				
					$.ajax({
						url : urlToDelete, type : 'DELETE',
						success : function (results){
							//Refresh the page
							location.reload();
						}
					});
					
				}
			}
		
		</script>


			
			<a href="@routes.Teachers.newTeacher()" >
				<img title="Thêm học viên" src="@routes.Assets.at("images/them.png")" align=middle />
			</a>
		</span>
		<hr style="margin: 0; border-top: 2px solid #2FB5C7;">
		<table class="table table-striped">
		<thead>
		  <tr>
        <th>Tên Giáo Viên</th>
        <th>Chức Vụ</th>
        <th>Nơi Công Tác</th>
		<th>Email</th>
		<th>Sửa</th>
		<th>Xóa</th>
      </tr>
		  
		</thead>
		<tbody>
		@for(teacher <- currentPage.getList()) {
			<tr>
				<td><a href="@routes.Teachers.hoso(teacher)" title="Xem Hồ Sơ">
				@teacher.name
				</a>
			</td>
			<td><a href="@routes.Teachers.hoso(teacher)" title="Xem Hồ Sơ">
				@teacher.jobTitle</a></td>
			<td><a href="@routes.Teachers.hoso(teacher)" title="Xem Hồ Sơ">
				@teacher.office</a></td>
			<td><a href="@routes.Teachers.hoso(teacher)" title="Xem Hồ Sơ">
				@teacher.email</a></td>

			<td><a href="@routes.Teachers.details(teacher)" style="text-decoration: none" title="Chỉnh Sửa">
				
				<image src="@routes.Assets.at("images/chinh sua.png")">
			</a>
			</td>
			<td>
			<a onclick="del('@routes.Teachers.delete(teacher.email)')" title="Xóa Khỏi Danh Sách">
				
				<image src="@routes.Assets.at("images/xoa hoc vien.jpg")">
			</a>
			</td>
		  </tr>
		  }
		</tbody>
	   </table>
		
		<div id="pagination" class="pagination" style="margin-left: 315px;">
			@if(currentPage.hasPrev) {
				<li>
					<a href="@routes.Teachers.list(currentPage.getPageIndex - 1)">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
				</li>
			} else {
				<li class="disabled"><a><span class="glyphicon glyphicon-chevron-left"></span></a></li>
			}
				<li class="active">
					<a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
				</li>
			@if(currentPage.hasNext) {
				<li>
					<a href="@routes.Teachers.list(currentPage.getPageIndex + 1)"><span class="glyphicon glyphicon-chevron-right"></a>
				</li>
			} else {
			<li class="disabled"><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>
	   }
		</div>
	</div>
}