@(teacherForm: Form[Teacher])

@import helper._
@import helper.twitterBootstrap._

@main_hocvu("TEACHER FORM"){
		<script>
			var doimau= document.getElementById("giaovien");
			doimau.style.background = "#8C988D";
			
		</script>

	<h1 style="text-align: center;font-weight: bold;  color: #20A836; text-shadow: 1px 1px 5px #44EA4D; ">FORM TẠO GIÁO VIÊN</h1>
	<hr>
	@form(CSRF(routes.Teachers.save())) {
		<input type="hidden" value="@teacherForm("id").valueOr("")" name="id"/>
		<fieldset>
			<div id="form1" style="color: #20A836; height: 297px;" >
				@helper.inputText(teacherForm("name"), '_label -> "Họ Tên", 'placeholder -> "Họ Tên ...", 'class -> "form-control")
				@helper.inputText(teacherForm("office"), '_label -> "Nơi Công Tác", 'placeholder -> "Nơi Công Tác ...", 'class -> "form-control")
				@helper.inputText(teacherForm("phoneNumber"), '_label -> "Số Điện Thoại",  'placeholder -> "Số Điện Thoại ...", 'class -> "form-control")
			</div>
			<div id="form2" style="color: #20A836; height: 297px;">
				@helper.select(teacherForm("jobTitle"), 
					helper.options(Seq("Giáo Sư", "Phó Giáo Sư", "Tiến Sĩ", "Thạc Sĩ")), 
					'_label -> "Chức Vụ", '_default -> "--Select--", 'class -> "form-control")
				@helper.inputText(teacherForm("email"), '_label -> "Email" , 'placeholder -> "Email ...", 'class -> "form-control")
				@helper.inputPassword(teacherForm("password"), '_label -> "Password" , 'placeholder -> "Password ...", 'class -> "form-control")
			</div>
		</fieldset>
		<span style="margin-left:80px;  margin-top: 12px;"><input  type="submit" class="btn btn-primary" value="Lưu Lại">
		<a class="btn" href="@routes.Teachers.list()"><button type="button" class="btn btn-warning">Trở Lại</button></a>
		</span>
	}

}














