@(teacher:Teacher)
@import helper._
@import helper.twitterBootstrap._

@main_hocvu("Hồ Sơ Giáo Viên"){
	
	<script>
			var doimau= document.getElementById("giaovien");
			doimau.style.background = "#8C988D";
			
		</script>
	<div style=" width: 820PX; height: 480px; float: left;   margin-left: 50px; ">
		<div style="width:820px; height: 50px">
		<a href="@routes.Teachers.list()" ><button style="margin-top:20px;" class="btn btn-info">BACK</button></a>
	
			<h2 style="text-align:center; color: #00A803;   margin-top: -32px;">HỒ SƠ GIÁO VIÊN : @teacher.name</h2>

		</div>
		<div style="margin-top: 20px; width: 820PX; height: 395px; border: 1px solid #00FFFF; ">
			<div style="width: 818px; height: 395px; float: left; padding-left: 0px;">
				<table class="table table-condensed" style="padding-left: 30px;">
					<tr class="active">
						<td class="active" colspan="2"><h4 style="text-align: center;   margin-top: 5px;margin-bottom: 6px;">Thông Tin Cá Nhân</h4></td>
					</tr>
					
					<tr class="active">
						<td class="success"><h6>Họ Tên</h6></td>
						<td class="success"><h6>@teacher.name</h6></td>
					</tr>
					<tr class="active">
						<td class="danger"><h6>Chức Vụ </h6></td>
						<td class="danger"><h6>@teacher.jobTitle</h6></td>
					</tr>
					<tr class="active">
						<td class="info"><h6>Số Điện Thoại</h6></td>
						<td class="info"><h6>@teacher.phoneNumber</h6></td>
					</tr>
					<tr class="active">
						<td class="active"><h6>Nơi Công Tác</h6></td>
						<td class="active"><h6>@teacher.office</h6></td>
					</tr>
					<tr class="warning">
						<td class="active"><h6>Email </h6></td>
						<td class="active"><h6>@teacher.email</h6></td>
					</tr>
					<tr class="info">
						<td class="info"><h6>Password </h6></td>
						<td class="info"><h6>@teacher.password</h6></td>
					</tr>
				</table>
				
	
			</div>
			
		</div>
	</div>

}