@(currentPage: com.avaje.ebean.Page[Teacher])
@main_hocvu("Danh Sách Giáo Viên"){
	<h2>Danh Sách Giáo Viên</h2>
	<hr />
	<script>
		function del(urlToDelete){
			$.ajax({
				url : urlToDelete, type : 'DELETE',
				success : function (results){
					//Refresh the page
					location.reload();
				}
			});
		}
	
	</script>


	
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Tên Giáo Viên</th>
        <th>Chức Vụ</th>
        <th>Nơi Công Tác</th>
		<th>Email</th>
		<th></th>
      </tr>
	  
    </thead>
    <tbody>
    @for(teacher <- currentPage.getList()) {
      <tr>
        <td><a href="" title="Xem Hồ Sơ">
          @teacher.name
        </a></td>
        <td><a href="" title="Xem Hồ Sơ">
@teacher.jobTitle</a></td>
        <td><a href=")" title="Xem Hồ Sơ">
@teacher.office</a></td>
		<td><a href="" title="Xem Hồ Sơ">
@teacher.email</a></td>
		<td><a href="@routes.Teachers.details(teacher)" style="text-decoration: none" title="Chỉnh Sửa">
			<span class="glyphicon glyphicon-pencil"></span>
			
		</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a onclick="del('@routes.Teachers.delete(teacher.email)')" title="Xóa Khỏi Danh Sách">
			
			<span class="glyphicon glyphicon-trash"></span>
		</a>
		</td>
      </tr>
      }
    </tbody>
   </table>
	<a href="@routes.Teachers.newTeacher()" class ="btn btn-primary">Tạo Mới</a>
	<div id="pagination" class="pagination" style="margin-left: 400px;">
		@if(currentPage.hasPrev) {
			<li>
				<a href="@routes.Teachers.list(currentPage.getPageIndex - 1)">
					&larr;
				</a>
			</li>
		} else {
			<li class="disabled"><a>&larr;</a></li>
		}
			<li class="active">
				<a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
			</li>
		@if(currentPage.hasNext) {
			<li>
				<a href="@routes.Teachers.list(currentPage.getPageIndex + 1)">&rarr;</a>
			</li>
		} else {
		<li class="disabled"><a>&rarr;</a></li>
   }
	</div>
}