@(teacher : Teacher)
@import helper._
@import helper.twitterBootstrap._

@main_giaovien("Trang Cá Nhân"){
	<div id="catalog">
		<ul>
			<a href=""><li style="background: #DDDDDD;">Thông Tin Cá Nhân</li></a>
			<a href="@routes.Teachers.update(teacher)"><li>Chỉnh Sửa Cá Nhân</li></a>
			<a href="@routes.Application.logout()"><li>Đăng Xuất</li></a>
		</ul>
	</div>

	<div id="noidung">
		<div class="noidung">
			<div class="tieude">Thông Tin Cá Nhân</div>
			<div class="trai">
				<ul>
					<li>Họ Tên :</li>
					<li>Số Điện Thoại :</li>
					<li>Chức Vụ :</li>
					<li>Office :</li>
					<li>Email :</li>
					<li>Password :</li>
					
				</ul>
			</div>
			<div class="phai">
				<ul>
					<li>@teacher.name</li>
					<li>@teacher.phoneNumber</li>
					<li>@teacher.jobTitle</li>
					<li>@teacher.office</li>
					<li>@teacher.email</li>
					<li>@teacher.password</li>
					
				</ul>
			</div>
		</div>
	</div>	
}
