@(teacherForm: Form[Teacher], teacher: Teacher)

@import helper._
@import helper.twitterBootstrap._

@main_giaovien("Chỉnh Sửa") {

	<div id="catalog">
		<ul>			
			<a href="@routes.Teachers.thongtincanhan(teacher)"><li >Thông Tin Cá Nhân</li></a>
			<a href=""><li style="background: #DDDDDD;">Chỉnh Sửa Cá Nhân</li></a>
			<a href="@routes.Application.logout()"><li>Đăng Xuất</li></a>	
		</ul>
	</div><!--end div catalog-->
	<div id="noidung" >
		<div class="noidung">
			@form(CSRF(routes.Teachers.save_giaovien())) {
				<input type="hidden" value="@teacherForm("id").valueOr("")" name="id"/>
				<fieldset>
					<div style="color: #007F49;  margin-left: 59px; padding-top: 10px; font-size: 18px;"><a href="" style="color: #007F49;">Chỉnh Sửa Cá Nhân</a></div>
					<hr />
				   <div style="width: 365px; height: 300px; float: left; margin-left: 63px; color: #007F49;">
						@helper.inputText(teacherForm("name"), '_label -> "Họ Tên", 'placeholder -> "Họ Tên ...", 'class -> "form-control")
						@helper.inputText(teacherForm("office"), '_label -> "Nơi Công Tác", 'placeholder -> "Nơi Công Tác ...", 'class -> "form-control")
						@helper.inputText(teacherForm("phoneNumber"), '_label -> "Số Điện Thoại",  'placeholder -> "Số Điện Thoại ...", 'class -> "form-control")
				   </div>
				   <div style="width: 365px; height: 213px; float: right; margin-right: 68px; color: #007F49;">
					   @helper.select(teacherForm("jobTitle"), 
							helper.options(Seq("Giáo Sư", "Phó Giáo Sư", "Tiến Sĩ", "Thạc Sĩ")), 
							'_label -> "Chức Vụ", '_default -> "--Select--", 'class -> "form-control")
						@helper.inputText(teacherForm("email"), '_label -> "Email", 'class -> "form-control")
					   <div style="display: none;">@helper.inputText(teacherForm("password"), '_label -> "Password", 'hidden ->"hidden")</div>
							
				   </div>
				   <input id="submit" type="submit" class="btn btn-primary" value="Save" style="margin-left: 294px;">
					<a class="btn" href="@routes.Teachers.thongtincanhan(teacher)">
						<button class="btn btn-warning">Trở Lại</button>
					</a>
				</fieldset>
				
				
				
			}
					<!--content-->
		</div>		
	</div><!--end div main-->

}
