@(passwordForm: Form[Password], trainee: Trainee)
@import helper._
@import helper.twitterBootstrap._

@main("Đổi Mật Khẩu"){
<div id="catalog">
		<ul>
		
			<a href="@routes.Trainees.info(trainee)"><li >Thông Tin Cá Nhân</li></a>
			<a href="@routes.Trainees.update(trainee)"><li>Chỉnh Sửa Thông Tin</li></a>
			<a href="@routes.Trainees.changePassword(trainee)"><li style="background: #838B8B;">Đổi Mật Khẩu</li></a>
			<a href="@routes.Application.logout()"><li>Đăng Xuất</li></a>			
						
		<ul/>
	</div><!--end div catalog-->
	<div id="main" >
		@if(flash.containsKey("success")){
			<div class="alert alert-success">
				@flash.get("success")
			</div>
		}
		@if(flash.containsKey("error")){
			<div class="alert alert-error" style="color: red;">
				@flash.get("error")
			</div>
		}
		@form(CSRF(routes.Trainees.savePassword())) {
			<input type="hidden" value="@passwordForm("id").valueOr("")" name="id"/>

			<fieldset>
				<div style="  margin-left: 59px; padding-top: 10px; font-size: 18px;"><a href="">Đổi Mật Khẩu</a></div>
				<hr style="margin-top: 1px;" />
				<div style="width: 300px; margin-left: 300px;">
					@helper.inputPassword(passwordForm("password_current"), '_label -> "Mật Khẩu Hiện Tại (*)", 'class -> "form-control")
					@helper.inputPassword(passwordForm("password"), '_label -> "Mật Khẩu Mới (*)", 'class -> "form-control")
					@helper.inputPassword(passwordForm("confirm"), '_label -> "Nhập Lại Mật Khẩu (*)", 'class ->"form-control")
					
				</div>
			</fieldset>
			<input id="submit" type="submit" class="btn btn-primary" value="Change" style="margin-left: 525px;">
			
			
		}
				<!--content-->
		
	</div><!--end div main-->
	
	</script>
}