@(traineeForm: Form[Trainee])
@import helper._
@import helper.twitterBootstrap._

@main_hocvu("TRAINEE FORM"){
		<script>
			var doimau= document.getElementById("quanly");
			doimau.style.background = "#8C988D";
			
		</script>

	<h1 style="text-align: center;font-weight: bold;  color: #20A836; text-shadow: 1px 1px 5px #44EA4D; ">FORM TẠO HỌC VIÊN</h1>
	<hr>
	@form(CSRF(routes.Trainees.save())) {
		<input type="hidden" value="@traineeForm("id").valueOr("")" name="id"/>
		<fieldset>
			<div id="form1" style="color: #20A836;" >
				@helper.inputText(traineeForm("name"), '_label -> "Họ Tên Học Viên", 'placeholder -> "Họ Tên ...", 'class -> "form-control")
				
				@helper.inputText(traineeForm("address"), '_label -> "Địa Chỉ", 'placeholder -> "Địa Chỉ ...", 'class -> "form-control")
				@helper.inputDate(traineeForm("birthday"), '_label -> "Ngày Sinh", 'placeholder -> "Ngày Sinh ...", 'class -> "form-control")
				@helper.inputText(traineeForm("phoneNumber"), '_label -> "Số Điện Thoại", 'placeholder -> "Số Điện Thoại ...", 'class -> "form-control")
			</div>
			<div id="form2" style="color: #20A836;">
				@helper.select(traineeForm("branch"), 
					helper.options(Seq("CNTT", "KHMT", "HTTT", "TT & MMT", "DT & TT", "VLKT", "Co DT", "Co KT")), 
					'_label -> "Ngành Học", '_default -> "   ---Select---   ",  'class -> "form-control")
				@helper.inputText(traineeForm("course"), '_label -> "Khóa Học", 'placeholder -> "Khóa Học ...", 'class -> "form-control")
				@helper.inputText(traineeForm("email"), '_label -> "Email", 'placeholder -> "Email ...", 'class -> "form-control")
				@helper.inputPassword(traineeForm("password"), '_label -> "Mật Khẩu", 'placeholder -> "Password ...", 'class -> "form-control")
			</div>
		</fieldset>
		<span style="margin-left:80px;  margin-top: 12px;"><input  type="submit" class="btn btn-primary" value="Lưu Lại">
		<a class="btn" href="@routes.Trainees.list()"><button type="button" class="btn btn-warning">Trở Lại</button></a>
		</span>
	}

}