@(trainee: Trainee)
@import helper._
@import helper.twitterBootstrap._

@main_hocvu("Trang Cá Nhân"){
	<div style=" width: 820PX; height: 480px; float: left;   margin-left: 50px; ">
		<div style="width:820px; height: 50px">
		<a href="@routes.Trainees.list()" ><button style="margin-top:20px;" class="btn btn-info">BACK</button></a>
	
			<h2 style="text-align:center; color: #00A803;   margin-top: -32px;">HỒ SƠ HỌC VIÊN : @trainee.name</h2>

		</div>
		<div style="margin-top: 20px; width: 820PX; height: 395px; border: 1px solid #00FFFF; ">
			<div style="width: 410px; height: 395px; float: left; padding-left: 0px;">
				<table class="table table-condensed" style="padding-left: 30px;">
					<tr class="active">
						<td class="active" colspan="2"><h4 style="text-align: center;   margin-top: 5px;margin-bottom: 6px;">Thông Tin Cá Nhân</h4></td>
					</tr>
					
					<tr class="active">
						<td class="success"><h6>Họ Tên</h6></td>
						<td class="success"><h6>@trainee.name</h6></td>
					</tr>
					<tr class="active">
						<td class="warning"><h6>Ngày Sinh </h6></td>
						<td class="warning"><h6>@trainee.format.format(trainee.birthday)</h6></td>
					</tr>
					<tr class="active">
						<td class="danger"><h6>Đia Chỉ </h6></td>
						<td class="danger"><h6>@trainee.address</h6></td>
					</tr>
					<tr class="active">
						<td class="info"><h6>Số Điện Thoại</h6></td>
						<td class="info"><h6>@trainee.phoneNumber</h6></td>
					</tr>
					<tr class="active">
						<td class="active"><h6>Ngành Học</h6></td>
						<td class="active"><h6>@trainee.branch</h6></td>
					</tr>
					<tr class="active">
						<td class="success"><h6>Khóa Học</h6></td>
						<td class="success"><h6>@trainee.course</h6></td>
					</tr>
					<tr class="warning">
						<td class="active"><h6>Email </h6></td>
						<td class="active"><h6>@trainee.email</h6></td>
					</tr>
					<tr class="info">
						<td class="info"><h6>Password </h6></td>
						<td class="info"><h6>@trainee.password</h6></td>
					</tr>
				</table>
				
	
			</div>
			
			<div style="width: 408px; height: 395px; float: right; padding-left: 2px;">
				<table class="table table-condensed" style="padding-left: 30px;">
					<tr class="active">
						<td class="active" colspan="2"><h4 style="text-align: center;  margin-top: 5px;  margin-bottom: 6px;">Thông Tin Đăng Ký Môn Học</h4></td>
					</tr>

					<tr class="active">
						<td class="success"><h6>Tên Đề Tài</h6></td>
						<td class="success"><h6>no info</h6></td>
					</tr>
					<tr class="active">
						<td class="warning"><h6>Thời Gian Bảo Vệ</h6></td>
						<td class="warning"><h6>no info</h6></td>
					</tr>
					<tr class="active">
						<td class="danger"><h6>Giáo Viên Hướng Dẫn</h6></td>
						<td class="danger"><h6>no info</h6></td>
					</tr>
					<tr class="active">
						<td class="info"><h6>Ngày Đăng Ký</h6></td>
						<td class="info"><h6>no info</h6></td>
					</tr>
					<tr class="active">
						<td class="active"><h6>Biều Mẫu</h6></td>
						<td class="active"><h6>no info</h6></td>
					</tr>
					<tr class="active">
						<td class="success"><h6>no info</h6></td>
						<td class="success"><h6>no info</h6></td>
					</tr>
					<tr class="warning">
						<td class="active"><h6>no info</h6></td>
						<td class="active"><h6>no info</h6></td>
					</tr>
					<tr class="info">
						<td class="info"><h6>no info</h6></td>
						<td class="info"><h6>no info</h6></td>
					</tr>
				</table>
				
			</div>
		</div>
	</div>

}