@(trainee: Trainee)
@import helper._
@import helper.twitterBootstrap._

@main("Trang Cá Nhân"){
	<div id="catalog">
		<ul>
			
			<a href="@routes.Trainees.info(trainee)"><li style="background: #838B8B;">Thông Tin Cá Nhân</li></a>
			<a href="@routes.Trainees.update(trainee)"><li>Chỉnh Sửa Thông Tin</li></a>
			<a href="@routes.Trainees.changePassword(trainee)"><li>Đổi Mật Khẩu</li></a>
			<a href="@routes.Application.logout()"><li>Đăng Xuất</li></a>			
		<ul/>
	</div><!--end div catalog-->
	
	@if(flash.containsKey("success")){
		<script>
			alert("Đổi Mật Khẩu Thành Công");		
		</script>
	}
	<div id="main">
		<div class="container" style="width: 800px;">
			<table class="table table-condensed" style="color: #10AEDD" >
					<tr>
						<td  colspan="2">												
							<div style="width: 700px; height: 40px; float: left; padding-top: 6px; padding-left: 35px;">
								<h4 style="text-align: center; font-weight: bold;">Thông Tin Cá Nhân</h4>
							</div>
							
						</td>
					</tr>
					
					<tr class="active">
						<td class="success" style="padding-left: 60px;"><h4>Họ Tên</h4></td>
						<td class="success"><h4>@trainee.name</h4></td>
					</tr>
					<tr class="active">
						<td class="warning" style="padding-left: 60px;"><h4>Ngày Sinh </h4></td>
						<td class="warning"><h4>@trainee.format.format(trainee.birthday)</h4></td>
					</tr>
					<tr class="active">
						<td class="danger" style="padding-left: 60px;"><h4>Đia Chỉ </h4></td>
						<td class="danger"><h4>@trainee.address</h4></td>
					</tr>
					<tr class="active">
						<td class="info" style="padding-left: 60px;"><h4>Số Điện Thoại</h4></td>
						<td class="info"><h4>@trainee.phoneNumber</h4></td>
					</tr>
					<tr class="active">
						<td class="active" style="padding-left: 60px;"><h4>Ngành Học</h4></td>
						<td class="active"><h4>@trainee.branch</h4></td>
					</tr>
					<tr class="active">
						<td class="success" style="padding-left: 60px;"><h4>Khóa Học</h4></td>
						<td class="success"><h4>@trainee.course</h4></td>
					</tr>
					<tr class="warning">
						<td class="active" style="padding-left: 60px;"><h4>Email </h4></td>
						<td class="active"><h4>@trainee.email</h4></td>
					</tr>
					
			</table>
			<div style="width:220px; height: 50px; padding-top:0px; float: right; padding-left: 80px;">
				<a style="text-decoration:none; display: block;"href="@routes.Trainees.update(trainee)">
				<button class="btn btn-info">
					Chỉnh Sửa 
				</button>
				</a>
			</div>
		</div>
			<!--content-->
	</div><!--end div main-->

}