@(currentPage: com.avaje.ebean.Page[Trainee])
@main_hocvu("ALL THE TRAINEES"){<h2>ALL THE TRAINEES</h2>
	<script>
		function del(urlToDelete){
			$.ajax({
				url : urlToDelete, type : 'DELETE',
				success : function (results){
					//Refresh the page
					location.reload();
				}
			});
		}
	
	</script>


	
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Branch</th>
		<th>Email</th>
		<th></th>
      </tr>
	  
    </thead>
    <tbody>
    @for(trainee <- currentPage.getList()) {
      <tr>
        <td><a href="@routes.Trainees.hoso(trainee)">
          @trainee.name
        </a></td>
        <td><a href="@routes.Trainees.hoso(trainee)">
@trainee.birthday</a></td>
        <td><a href="@routes.Trainees.hoso(trainee)">
@trainee.branch</a></td>
		<td><a href="@routes.Trainees.hoso(trainee)">
@trainee.email</a></td>
		<td><a href="@routes.Trainees.details(trainee)" style="text-decoration: none">
			<span class="glyphicon glyphicon-pencil"></span>
			
		</a>
		
		<a onclick="del('@routes.Trainees.delete(trainee.email)')">
			
			<span class="glyphicon glyphicon-trash"></span>
		</a>
		</td>
      </tr>
      }
    </tbody>
   </table>
	<a href="@routes.Trainees.newTrainee()" class ="btn btn-primary">NEW TRAINEE</a>
	<div id="pagination" class="pagination" style="margin-left: 400px;">
		@if(currentPage.hasPrev) {
			<li>
				<a href="@routes.Trainees.list(currentPage.getPageIndex - 1)">
					&larr;
				</a>
			</li>
		} else {
			<li class="disabled"><a>&larr;</a></li>
		}
			<li class="active">
				<a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
			</li>
		@if(currentPage.hasNext) {
			<li>
				<a href="@routes.Trainees.list(currentPage.getPageIndex + 1)">&rarr;</a>
			</li>
		} else {
		<li class="disabled"><a>&rarr;</a></li>
   }
	</div>
}