@(trainee: Trainee)
@import helper._
@import helper.twitterBootstrap._

@main("Trang Cá Nhân"){
	<div id="catalog">
		<ul>
			
			<a href="@routes.Trainees.info(trainee)"><li>Thông Tin Cá Nhân</li></a>
	
			<a href="#"><li>Tìm Kiếm Giáo Viên</li></a>

			<a href="@routes.Trainees.changePassword(trainee)"><li>Đổi Mật Khẩu</li></a>
			<a href="#"><li>Liên Hệ</li></a>			
		<ul/>
	</div><!--end div catalog-->
	<div id="main">
			
			<!--content-->
	</div><!--end div main-->

}