@(traineeForm: Form[Trainee], trainee: Trainee)

@import helper._
@import helper.twitterBootstrap._

@main("Chỉnh Sửa") {

	<div id="catalog">
		<ul>
			
			<a href="@routes.Trainees.info(trainee)"><li >Thông Tin Cá Nhân</li></a>
			<a href="@routes.Trainees.update(trainee)"><li style="background: #838B8B;">Chỉnh Sửa Thông Tin</li></a>
			<a href="@routes.Trainees.changePassword(trainee)"><li>Đổi Mật Khẩu</li></a>
			<a href="@routes.Application.logout()"><li>Đăng Xuất</li></a>			
		<ul/>
	</div><!--end div catalog-->
	<div id="main" >
		@form(CSRF(routes.Trainees.save_hocvien())) {
			<input type="hidden" value="@traineeForm("id").valueOr("")" name="id"/>
			<fieldset>
				<div style="  margin-left: 59px; padding-top: 10px; font-size: 18px;"><a href="">Thông Tin Cá Nhân</a> / <a href="">Chỉnh Sửa Cá Nhân</a></div>
				<hr />
			   <div style="width: 365px; height: 320px; float: left; margin-left: 63px;">
				   @helper.inputText(traineeForm("name"), '_label -> "Name", 'readonly -> "readonly", 'class -> "form-control")
				   @helper.inputDate(traineeForm("birthday"), '_label -> "Birthday", 'readonly -> "readonly", 'class -> "form-control")
				   @helper.inputText(traineeForm("address"), '_label -> "Address", 'class -> "form-control")
				   @helper.inputText(traineeForm("phoneNumber"), '_label -> "Phone Number", 'class -> "form-control")
			   </div>
			   <div style="width: 365px; height: 320px; float: right; margin-right: 68px;">
				   @helper.inputText(traineeForm("branch"), '_label -> "Branch", 'readonly -> "readonly", 'class -> "form-control")
				   @helper.inputText(traineeForm("course"), '_label -> "Course", 'readonly -> "readonly", 'class -> "form-control")
				   <br />
				   @helper.inputText(traineeForm("email"), '_label -> "Email", 'class -> "form-control")
				   <div style="display: none;">@helper.inputText(traineeForm("password"), '_label -> "Password", 'hidden ->"hidden")</div>
						
			   </div>
			</fieldset>
			<input id="submit" type="submit" class="btn btn-primary" value="Save" style="margin-left: 504px;">
			<a class="btn" href="@routes.Trainees.info(trainee)">
				<button class="btn btn-warning">Trở Lại</button>
			</a>
			
		}
				<!--content-->
				
	</div><!--end div main-->

}
