@(currentPage: com.avaje.ebean.Page[Trainee])
@main_hocvu("Danh Sách Học Viên"){
	<div class=container style="width: 820px;">
		<h2 style="text-align: center; color: #077381;font-weight: bold;text-shadow: 1px 1px 4px; margin-bottom: 20px;">Danh Sách Học Viên</h2>
		
		<script>
			function del(urlToDelete){
				$.ajax({
					url : urlToDelete, type : 'DELETE',
					success : function (results){
						//Refresh the page
						location.reload();
					}
				});
			}
		
		</script>


			
			<a href="@routes.Trainees.newTrainee()" >
				<img title="Thêm Học Viên" src="@routes.Assets.at("images/them.png")" align=middle />
			</a>
		</span>
		<hr style="margin: 0; border-top: 2px solid #2FB5C7;">
		<table class="table table-striped">
		<thead>
		  <tr>
			<th>Tên</th>
			<th>Ngày Sinh</th>
			<th>Khoa</th>
			<th>Email</th>
			<th>Sửa</th>
			<th>Xóa</th>
		  </tr>
		  
		</thead>
		<tbody>
		@for(trainee <- currentPage.getList()) {
		  <tr>
			<td><a href="@routes.Trainees.hoso(trainee)" title="Xem Hồ Sơ">
			  @trainee.name
			</a></td>
			<td><a href="@routes.Trainees.hoso(trainee)" title="Xem Hồ Sơ">
	@trainee.birthday</a></td>
			<td><a href="@routes.Trainees.hoso(trainee)" title="Xem Hồ Sơ">
	@trainee.branch</a></td>
			<td><a href="@routes.Trainees.hoso(trainee)" title="Xem Hồ Sơ">
	@trainee.email</a></td>
			<td><a href="@routes.Trainees.details(trainee)" style="text-decoration: none" title="Chỉnh Sửa">
				
				<image src="@routes.Assets.at("images/chinh sua.png")">
			</a>
			</td>
			<td>
			<a onclick="del('@routes.Trainees.delete(trainee.email)')" title="Xóa Khỏi Danh Sách">
				
				<image src="@routes.Assets.at("images/xoa hoc vien.jpg")">
			</a>
			</td>
		  </tr>
		  }
		</tbody>
	   </table>
		
		<div id="pagination" class="pagination" style="margin-left: 315px;">
			@if(currentPage.hasPrev) {
				<li>
					<a href="@routes.Trainees.list(currentPage.getPageIndex - 1)">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
				</li>
			} else {
				<li class="disabled"><a><span class="glyphicon glyphicon-chevron-left"></span></a></li>
			}
				<li class="active">
					<a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
				</li>
			@if(currentPage.hasNext) {
				<li>
					<a href="@routes.Trainees.list(currentPage.getPageIndex + 1)"><span class="glyphicon glyphicon-chevron-right"></a>
				</li>
			} else {
			<li class="disabled"><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>
	   }
		</div>
	</div>
}