@main_hocvu("Trang Chủ"){
	<div id="home1">
		<a href="@routes.Trainees.list()"><div id="anh1">
			
			<span class="glyphicon glyphicon-briefcase" style="font-size:100px; padding: 18px 34px; color: #FFFFFF"></span>
			<div id="con1">HỌC VIÊN</div>
		</div></a>
		<a href="@routes.Teachers.list()"><div id="anh2">
			<span class="glyphicon glyphicon-user" style="font-size:100px; padding: 18px 34px; color: #FFFFFF"></span>
			<div id="con2">GIÁO VIÊN</div>
		</div></a>
		<a href=""><div id="anh3">
			<span class="glyphicon glyphicon-search" style="font-size:100px; padding: 18px 34px; color: #FFFFFF"></span>
			<div id="con3">TÌM KIẾM TẤT CẢ</div>
		</div></a>
		<a href=""><div id="anh4">
			<span class="glyphicon glyphicon-book" style="font-size:100px; padding: 18px 34px; color: #FFFFFF"></span>
			<div id="con4">LUẬN VĂN</div>
		</div></a>
	</div>
}