@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._
 
@index("Hệ Thống Đăng Nhập - UET") {
  @helper.form(helper.CSRF(routes.Application.authenticate())) {
	<div style="margin: 20px;">
    
	
    <p>
		<h4 >Email</h4>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email"
                           value="@loginForm("email").value" required autofocus>
    </p>
	
    <p>
		<h4 >Mật Khẩu</h4>
        <input type="password" name="password" id="inputPassword" class="form-control"
                                      placeholder="Password" required>
    </p>
	
	<span><a href="">Quên Mật Khẩu</a></span>
	<br>
	<br />
    <p>
		
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </p>
	</div>
}
}