@()


<div style="width: 100%; height: 145px; margin:0; padding:0;">
	<div style="width: 100%; height: 100px; margin:0; ">
		<div style="width: 20%; height: 100px; float: left; padding-top: 5px;">
		<img style="padding-left:130px;" src="@routes.Assets.at("images/logo2.png")" align="left"/>
		</div>
		<div style="width: 80%; height: 100px; float: right; color: #00A855; ">
		<span style=" font-size: 70px; font-weight:bold;   padding-left: 105px;text-shadow: 2px 2px 5px;">WebSite Quản Trị</span>
		</div>
	</div>
	<div style="width: 100%; height: 45px; background-color: #4fb8a6;   box-shadow: 1px 2px 9px;">
		<div style="width: 80%; height: 45px; float: left;">
		
			<p style="font-family: Arial; color: #ffffff;  font-size: 27px;   padding: 5px 134px; font-weight: bold;">
				<span class="glyphicon glyphicon-hand-right" style="font-size:30px;">&nbsp;</span>
				Hệ Thống Quản Lý Đăng Ký Luận Văn Cao Học
			</p>
		</div>
		<div style="float: right; width: 20%; height: 45px; color: #ffffff;">
			<a href="" title="Tin Nhắn" style="color: #ffffff;"><span class="glyphicon glyphicon-envelope" style="  font-size: 30px; padding-top: 7px;   padding-left: 0px;"></span></a>
			<a href="" title="Thông Báo" style="color: #ffffff;"><span class="glyphicon glyphicon-bell" style="  font-size: 30px; padding-top: 7px;   margin-left: 30px; "></span></a>
			<a href="@routes.Application.logout()" title="Đăng Xuất" style="color: #ffffff;"><span class="glyphicon glyphicon-log-out" style="  font-size: 30px; padding-top: 7px;  margin-left: 30px; "></span></a>
		
		</div>
	</div>
</div>