@()
       
			<ul class="nav navbar-nav navbar-left">
                <li><a href="" style="color: #FFFFFF; font-size:20px; font-weight: bold;   margin-left: 85px; ">
					Welcome : @session.get("name")
				</a></li>
            </ul>
			<ul class="nav navbar-nav navbar-right" style="margin-right:0;">
		
				<li><a href="@routes.Application.logout()" style="color: #FFFFFF; font-size:18px; font-weight: bold;   margin-right: 85px; ">
				<span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
            </ul>

